<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
<h4>Yukaridaki sabit icerik</h4>
<div>
    @RenderBody()
</div>
<h4>Asagidaki sabit icerik</h4>
</body>
</html>
